body {
      background-color: #fffef4;
      font-family: Arial, sans-serif;
    }

    .navbar-custom {
      background-color: #ffffff;
      border-bottom: 5px solid #dc3545;
    }

    .nav-link {
      color: #000;
      font-weight: bold;
      margin-right: 15px;
    }

    .nav-link:hover {
      color: #ffc107;
    }

    .skills-section {
      background-color: #212529;
      padding: 40px 20px;
      border-bottom: 5px solid #dc3545;
    }

    .skill-card {
      background-color: #dc3545;
      color: #fff;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease;
    }

    .skill-card:hover {
      transform: scale(1.05);
    }

    .type_icon, .type_attack {
      font-size: 0.9rem;
      background-color: #ffc107;
      padding: 3px 10px;
      display: inline-block;
      border-radius: 10px;
      margin-top: 10px;
      color: #000;
    }

    .evolution-section img {
      height: 150px;
    }

    footer {
      background-color: #f8f9fa;
      padding: 10px;
      text-align: center;
      font-size: 14px;
      color: #6c757d;
    }
