body {
background-color: #000000;
font-family: Arial, sans-serif;
}

.navbar-custom {
background-color: #ffffff;
border-bottom: 5px solid #dc3545;
}

.nav-link:hover {
color: #ffc107;
}

.skills-section {
background-color: #212529;
padding: 40px 20px;
border-bottom: 5px solid #dc3545;
}

.skill-card:hover {
transform: scale(1.05);
}

.evolution-card:hover {
transform: scale(1.05);
}

.type_icon, .type_attack {
font-size: 0.9rem;
background-color: #ffc107;
padding: 3px 10px;
display: inline-block;
border-radius: 10px;
margin-top: 10px;
color: #000;
}


footer {
background-color: #ffffff;
padding: 5px;
text-align: center;
font-size: 14px;
color: #6c757d;
}

